NRP-testing/PartialArmTemplates/ArmTemplate_2_19_2020_13_47_17.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NRP-testing"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy2",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy3",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy4",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy5",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy5_copy1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy5_copy2",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy5_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy5_copy3",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy5_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Notebook1_copy5_copy4",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Notebook1_copy5_copy3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/test"
						},
						"linkedServiceName": {
							"referenceName": "5649599232280848",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/5649599232280848')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/5649599232280848')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "aaa",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://southeastasia.staging.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "**********"
					},
					"newClusterNodeType": "Standard_DS2_v2",
					"newClusterNumOfWorker": "499",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "latest-stable-scala2.11"
				}
			},
			"dependsOn": []
		}
	]
}